@import "src/scss/_misc/mixins";

.search-form {
  display: grid;
  grid-template-columns: 1fr 1fr rem(100px);
  column-gap: 0.5rem;
}

.contact__message {
  grid-column-start: 1;
  grid-column-end: 4;
}

.contacts-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;

  @include laptop{
    grid-template-columns: 1fr 1fr;
  }
}

.contact {
  display: grid;
  grid-template-columns: 4rem 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "avatar name delete" "avatar account button";

  &--pending {
    box-shadow: 0 0 3px green;
  }
}

.contact__avatar-wrapper {
  grid-area: avatar;
  width: 3rem;
  height: 3rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
  }
}

.contact__name {
  grid-area: name;
}

.contact__account {
  grid-area: account;
}

.contact__buttons {
  grid-area: button;
  display: flex;
  align-items: center;
}

.contact__delete {
  grid-area: delete;
  display: flex;
  justify-content: flex-end;
}

.delete-modal__user {
  width: 85%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 6rem 1fr;
  grid-template-rows: 1fr 1fr;

  grid-column-gap: 2rem;
  grid-row-gap: 0.5rem;
}
.delete-modal__avatar {
  width: 6rem;
  height: 6rem;

  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  border-radius: 50%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.delete-modal__name,
.delete-modal__account {
  display: flex;
  align-items: center;
}

.delete-modal__name {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  font-size: 2rem;
  align-self: flex-end;
}

.delete-modal__account {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  align-self: flex-start;
}
