@import "./src/scss/_misc/mixins";
@import "./src/scss/_misc/variables";

//.sidebar {
//  padding-top: 1rem;
//}
.sidebar-avatar__image {
  width: rem(60px);
  height: rem(60px);
  overflow: hidden;
  border-radius: 50%;
}
