// adjustment vars


//colors
$color-text: #000000;
$color-bg: rgba(252, 237, 159, 0.3);

$color-accent-1: #F9DE51;
$color-accent-2: #BBAB5C;
$color-accent-3: #A28C1A;
$color-accent-4: #FCE77D;
$color-accent-5: #FCED9F;

$color-dark-accent-1: #5F44AB;
$color-dark-accent-2: #564780;
$color-dark-accent-3: #2E166F;
$color-dark-accent-4: #8E75D5;
$color-dark-accent-5: #A18FD5;


// end vars
