// adjustment vars


//colors
$color-text: #000000;
//$color-bg: rgba(252, 237, 159, 0.3);
$color-bg: #f9e5c2;
$color-accent-1: #f9de51;
$color-accent-2: #bbab5c;
$color-accent-3: #a28c1a;
$color-accent-4: #fce77d;
$color-accent-5: #fced9f;
$color-dark-accent-1: #5f44ab;
$color-dark-accent-2: #564780;
$color-dark-accent-3: #2e166f;
$color-dark-accent-4: #8e75d5;
$color-dark-accent-5: #a18fd5;
$color-navbar: #004d4d;
$primary-alternate: #009999;
$primary-alternate-hover: #006666;
$color-white: #ffffff;


// end vars
