@import "./src/scss/_misc/mixins";
@import "../_misc/variables.scss";

.block__wrapper {
  height: 90%;
  margin-top: -5rem;
  padding: 3rem 0 0;

@include phones {
    padding: 4rem 0 1rem;
  }

@include tablets {
    padding: 4.5rem 0 5.5rem;
  }

@include laptop {
    padding: 4.5rem 0 5.5rem;
  }

@include desktop {
    padding: 4.5rem 0 5.5rem;
  }
}

.block__content {
  margin: 1rem 0 1rem;
  padding: 0 0 1.5rem;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 1);
  border-radius: rem(15px);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.075);
}

.block__header {
  position: relative;
  z-index: 1;
  width: 100%;
}

.block__image-wrapper {
  position: relative;
  width: rem(80px);
  height: rem(80px);

  & > .block__image {
    width: rem(80px);
    border-radius: 50%;
  }
}

.block__nickname {
  z-index: 1;
  margin: auto 0 auto 0.8rem;
  font-weight: bolder;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 1);

@include tablets {
    font-size: 1.4rem;
  }

@include laptop {
    font-size: 1.5rem;
  }

@include desktop {
    font-size: 1.5rem;
  }
}

.block--margin-adaptive {
  @include phones {
    margin-bottom: 1rem;
  }

@include tablets {
    margin-bottom: 1rem;
  }

@include laptop {
    margin-bottom: 1rem;
  }
}

.block--width-adaptive {
  @include phones {
    width: 100%;
  }

@include tablets {
    width: 100%;
  }

@include laptop {
    width: 100%;
  }
}

.block--width-80 {
  width: 80%;
}

.block--width-85 {
  width: 85%;
}
