@import "./src/scss/_misc/mixins";
@import "../_misc/variables.scss";

.theme--dark input {
  background: $ultra-light;
}

.theme--dark select {
  background: $ultra-light;
}

.theme--dark textarea {
  background: $ultra-light;
}

.theme--dark .modal-content {
  background: $super-dark;
  color: $color-white;
  border-color: $middle-dark;
}

.block__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: rem(-92px);
  padding: rem(80px) 0 rem(68px);

  @include tablets {
    padding-bottom: rem(80px);
  }
  @include laptop {
    padding-bottom: rem(80px);
  }
  @include desktop {
    padding-bottom: rem(80px);
  }
}

.block__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 1);
  border-radius: rem(15px);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.075);

  .theme--dark & {
    background: $ultra-dark;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.075);
    color: $color-white;
  }
}

.block__header {
  position: relative;
  position: sticky;
  z-index: 1;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1.5rem 0.5rem 2.3rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);

  .theme--dark & {
  background: $ultramega-dark;
}

  @include laptop {
    padding: 0.5rem 2rem 0.5rem 2.5rem;
  }
  @include desktop {
    padding: 0.5rem 1rem 0.5rem 1.5rem;
  }
}

.block__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1.5rem 0;
  overflow-x: hidden;
  overflow-y: auto;

  gap: 1rem;
  scrollbar-color: rgba(0, 0, 0, 0.05) rgb(170, 170, 170);
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: rgba(0, 0, 0, 0.05);
    opacity: 0.7;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(170, 170, 170);
  }
}

.block__common-image-wrapper {
  position: relative;
  width: rem(80px);
  height: rem(80px);
}

.block__button-change-photo {
  position: absolute;
  right: -0.3rem;
  bottom: -0.5rem;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.9rem;
  height: 1.9rem;
  background: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;

  & > .material-icons {
    font-size: 1.4rem;
    color: rgb(0, 0, 0);
  }
}

.block__button-change-photo + .block__input-photo {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}


.block__image-wrapper {
  position: relative;
  width: rem(80px);
  height: rem(80px);
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.075);
  border-radius: 50%;

  & > .block__image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: rem(80px);
    transform: translate(-50%, -50%);
  }
}

.block__title {
  z-index: 1;
  margin: auto 0;
  font-weight: bolder;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 1);

  .theme--dark & {
    color: $color-white;
  }

  @include tablets {
    font-size: 1.4rem;
  }
  @include laptop {
    font-size: 1.5rem;
  }
  @include desktop {
    font-size: 1.5rem;
  }
}

.block__footer {
  position: sticky;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1.5rem;
  background-color: rgba(255, 255, 255, 1);
  border-top: 1px solid rgba(0, 0, 0, 0.05);

  .theme--dark & {
    background: $ultramega-dark;
  }

  @include laptop {
    padding: 0.5rem 2rem;
  }
  @include desktop {
    padding: 0.5rem 1rem;
  }
}

.block__card {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: rem(10px);
  & > .main__balance {
    margin: 0;
  }

  .theme--dark & {
  border: 1px solid $middle-dark;
}


}

.block__card--no-border {
  border: 1px solid rgba(255, 255, 255, 1);
}

.block__element-gap {
  gap: 0.5rem;
}

.block--margin-adaptive {
  @include phones {
    margin-bottom: 1rem;
  }
  @include tablets {
    margin-bottom: 1rem;
  }
  @include laptop {
    margin-bottom: 1rem;
  }
}

.block--width-adaptive {
  @include phones {
    width: 100%;
  }
  @include tablets {
    width: 100%;
  }
  @include laptop {
    width: 100%;
  }
}

.block--width-80 {
  width: 80%;
}

.block--width-85 {
  width: 85%;
}
