@import "src/scss/_misc/mixins";

.message {
  font-size: 0.8rem;
}

.message__header {
  width: 100%;
  display: grid;
  grid-template-columns: 5rem 1fr 5rem;
  align-items: center;

}

.message__avatar-wrapper {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.message__addBtn {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.message__addBtn {
  position: fixed;
  bottom: 3.5rem;

  @include tablets{
    bottom: 5rem;
  }
}

.recipient-user {
  display: flex;
}

.recipient-user__image-wrapper {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 50%;
  }
}

.message--not-read {
  box-shadow: 0 0 3px green;
}
