@import "./src/scss/_misc/mixins";
@import "../../../scss/_misc/variables.scss";

.transparent {
  opacity: 0;
}

.position-material-icons {
  position: absolute;
  right: 0;
  bottom: 0;
}

.group__button-change-photo {
  font-size: 1.4rem;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.block__h2-indents {
  margin: rem(10px) 0 rem(10px) 0;
}

.block__wrapper-card {
  display: flex;
  flex-direction: column;
}

.card-group {
  width: 100%;
  margin: auto;
  border: 2px solid rgba(0,0,0,.05);
  border-radius: .625rem;
  box-shadow: 0 3px 5px rgba(0,0,0,.25);
  max-width: rem(740px);

  &--new-group {
    border: 2px solid rgba(10, 226, 21, 0.50);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
  }

  &__box-content {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    &--current {
      background: #a2a7a27a;
      order: -1;
    }
  }

  &__img-avatar {
    width: rem(60px);
    height: rem(60px);
    border-radius: 50%;
    object-fit: cover; 

    &--mini {
      width: rem(25px);
      height: rem(25px);
      border-radius: 50%;
      object-fit: cover; 
    }
  }

  &__box-logo-group {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.group-hidden {
  display: none!important;
}

.modal-top {
  margin: 1rem 0 0 0;
}

.modal-chart{
  margin: 1rem 2rem 2rem 2rem;
}



.form-title {
  margin: 0;
  margin-top: rem(8px);
  padding: 0;
}

.input-logo-group {
  position: absolute;
  right: 0;
  bottom: -4px;
  z-index: 1;
  width: rem(20px);
  opacity: 0;
}

.modal-dropdown {
  display: flex;
  padding: rem(9px) rem(7px) rem(7px) rem(7px);
}

.modal-input{
  margin: rem(7px);
}

.modal-btn-primary {
  margin: rem(8px);
}

.modal-wrapper-btn {
  margin: 0;
  padding: 0;
}

.modal-error-text{
  margin: rem(3px);
  color: red;
}

.member {
  padding-top: rem(10px);

  &__name {
    font-size: 0.7rem;
  }

  &__img {
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    background-color: rgba(53, 51, 51, 0.075);
    border-radius: 50%;
  }
}

#members-dropdown-menu {
  width: 96.5%;
}

.form-switch{
  margin-top: 0.5rem;
}

.card-detail {
  padding-top: rem(12px);

  &__img-avatar {
    display: block;
    width: rem(85px);
    height: rem(85px);
    margin: auto;
    border-radius: 50%;

    &--user {
      width: rem(60px);
      height: rem(60px);
      border-radius: 50%;
    }
  }

  &__box-description {
    margin: 0 1rem 0 1rem ;
  }

  &__user-list {
    margin: 1rem;
  }
}

.modal-detail {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: rem(8px) 0 rem(16px) 0;
  border: 2px solid rgba(0,0,0,.05);
  border-radius: .625rem;
  box-shadow: 0 3px 5px rgba(0,0,0,.25);
  justify-content: space-between;

  &__wrapper{
    display: flex;
    width: 100%;
    align-items: baseline;
    justify-content: space-between;
  }

  &__img-name {
    display: flex;
  }

  &__name-account {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &--author{
    background: #a2a7a27a;
  }

    &__img {
      margin: rem(8px);
      width: rem(50px);
      height: rem(50px);
      border-radius: 50%;
      object-fit: cover; 
    }
    &__name{
      margin: rem(5px);
    }
    &__account{
      margin: rem(5px);
    }
    &__button{
      margin: rem(5px);
/*       position: absolute;
      right: 10px;
      top: 35%; */
    }
    &__balance{
      //margin: 0 4rem 0 auto;

      &--negative {
        color: red;
      }
  
      &--positive {
        color: green;
      }
    } 
    
    &__button-container{
      position: absolute;
      right: rem(20px);
      height: rem(30px);
    }

    &__button-confirmation{
      padding: 3px;
    }
}

  .container-group-detail{
    width: 90%;
    max-width: 90%;
    margin: rem(50px) auto  auto auto;  
  }
  
  .container-group{
    padding: 0 rem(40px);
  }

/* @media(max-width: 720px) {
  .modal-wrapper-content{
    flex-direction: column;
  }
} */

@media(max-width: 450px) {
  .form-title {
    width: 60%;
  }
  .form-check-label {
    font-size: 0.7rem;
  }

  .modal-chart {
    margin: 0.8rem 0.8rem 0.8rem; 
  }
}

@media (max-width: 430px) {
  .modal-dialog {
    max-width: 95%;
  }
  .modal {
    left: 0;
  } 
  .modal-detail {

    &__img {
      margin: rem(6px);
      width: rem(40px);
      height: rem(40px);
      border-radius: 50%;
    }

    &__name, 
    &__account {
      font-size: rem(12px);
      margin: rem(3px);
    }

    &__balance {
      font-size: 0.8rem;
      //margin: 0 2.7rem 0 auto;
    }
  }

  .card-group {

    &__title{
      font-size: rem(14px);
      font-weight: 500;
    }

    &__date{
      font-size: rem(12px);
    }

    &__date,
    &__balance {
      font-size: rem(12px);
    }
  }

  .card-detail {
  
    &__title,
    &__description,
    &__participants,
    &__pending {
      font-size: rem(14px);
      font-weight: 500;
    }

    &__date,
    &__balance,
    &__text {
      font-size: rem(12px);
    }
  
    &__img-avatar {
      display: block;
      width: rem(70px);
      height: rem(70px);
      margin: auto;
      border-radius: 50%;
  
      &--user {
        width: rem(50px);
        height: rem(50px);
        border-radius: 50%;
      }
    }
  
    &__box-description {
      margin: 0 0.8rem 0 0.8rem ;
    }
  
    &__user-list {
      margin: 0.8rem;
    }
  }

  .container-group{
    padding: 0 rem(20px);
  }

}

@media (max-width: 370px) {
  .modal-detail__button-confirmation{
    padding: 3px;
    font-size: rem(10px);
  }
}
