@import "./src/scss/_misc/mixins";
@import "../../../scss/_misc/variables.scss";
@import "~bootstrap/scss/bootstrap";

.account__input {
  cursor: pointer;
}

.account__double-form {
  position: relative;
  display: flex;
  .account__double-form--first {
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      border-radius: 0.25rem 0 0 0.25rem;
    }
  }

  .account__double-form--second {
    width: 100%;
    border-radius: 0 0.25rem 0.25rem 0;
  }

  .account__double-form--second.error {
    color: $danger;
    opacity: 0.5;
  }

  .account__error {
    position: absolute;
    top: rem(-30px);
    right: rem(10px);
    width: 100%;
    height: rem(20px);
    text-align: end;
    color: $danger;
    visibility: hidden;
    opacity: 0.5;
  }
  .account__error.error--on {
    visibility: visible;
  }
}

.account--input-size {
  width: 100%;
  margin-left: auto;

  & > .form-select {
    width: 6.9rem;
  }

  @media (min-width: 576px) {
    width: 77%;
  }
}

.account__form-change-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.account__user {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 1.5rem;
  padding: 0;

  gap: 1rem;

  .block__title {
    @include desktop {
      font-size: 1.6rem;
    }
  }
}

.curr-wrapper {
  position: relative;

  input {
    width: 65%;
  }

  .material-icons {
    position: absolute;
    top: 1px;
    left: calc(65% - 35px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(30px);
    height: 90%;
    background-color: rgba(255, 255, 255, 1);
    opacity: 0.85;
  }
}

ul.curr-list {
  width: 60%;
  max-height: rem(150px);
  overflow-y: auto;

  li {
    padding-left: 0.5rem;
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }

  li.active-curr {
    background-color: rgba(0, 140, 255, 0.05);
  }
}
