@import "./src/scss/_misc/mixins";
@import "../../../scss/_misc/variables.scss";


.main__balance {
  margin: 2rem 0 0;
  font-size: 1.8rem;
}

.main__inner-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.05);
}

.main__group-slider {
  height: 9rem;

@include phones {
    height: 10.5rem;
  }

@include tablets {
    height: 10rem;
  }

@include laptop {
    height: 12rem;
  }

@include desktop {
    height: 12rem;
  }
}

.main__name {
  font-size: 1.2rem;

@include tablets {
    font-size: 1.4rem;
  }

@include laptop {
    font-size: 1.5rem;
  }

@include desktop {
    font-size: 1.5rem;
  }
}
