@import "./src/scss/_misc/mixins";
@import "../../../scss/_misc/variables.scss";

.transparent {
  opacity: 0;
}

.position-material-icons {
  position: absolute;
  right: 0;
  bottom: 0;
}

.group__button-change-photo {
  font-size: 1.4rem;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.block__h2-indents {
  margin: rem(10px) 0 rem(10px) 0;
}

.accordion-main{
  width: 100%;
}

.card-group {
  margin: auto;
  border: 2px solid rgba(0,0,0,0.05);
  border-radius: 0.625rem;
  box-shadow: 0 3px 5px rgba(0,0,0,0.25);
  cursor: pointer;


.theme--dark & {
  background: $ultramega-dark;
  box-shadow: 0 2px 5px rgba(200,200,200,0.25);
}

  &--new-group {
    border: 2px solid $primary-alternate;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
  }

  &__box-content {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    &--current {
      order: -1;
      color: $color-white;
      background: $primary-alternate;

      .theme--dark & {
        background: $middle-dark;
        box-shadow: 0 3px 5px rgba(0,0,0,0.25);
      }
    }
  }

  &__img-avatar {
    width: rem(60px);
    height: rem(60px);
    border-radius: 50%;

    object-fit: cover;

    &--mini {
      width: rem(25px);
      height: rem(25px);
      border-radius: 50%;

      object-fit: cover;
    }
  }

  &__box-logo-group {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.group-hidden {
  display: none!important;
}

.modal-top {
  margin: 1rem 0 0 0;
}

.modal-chart {
  margin: 1rem 2rem 2rem 2rem;

    .theme--dark & {
    background: $ultra-light;
  }
}



.form-title {
  margin: 0;
  margin-top: rem(8px);
  padding: 0;
}

.input-logo-group {
  position: absolute;
  right: 0;
  bottom: -4px;
  z-index: 1;
  width: rem(20px);
  opacity: 0;
}

.modal-dropdown {
  display: flex;
  padding: rem(9px) rem(7px) rem(7px) rem(7px);
}

.modal-input {
  margin: rem(7px);
}

.modal-btn-primary {
  margin: rem(8px);
  width: 100%;
}

.modal-wrapper-btn {
  margin: 0;
  padding: 0;
}

.modal-error-text {
  margin: rem(3px);
}

.member {
  padding-top: rem(10px);

  &__name {
    font-size: 0.7rem;
  }

  &__img {
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    background-color: rgba(53, 51, 51, 0.075);
    border-radius: 50%;
  }
}

#members-dropdown-menu {
  width: 96.5%;
}

.form-switch {
  margin-top: 0.5rem;
}

.card-detail {
  padding-top: rem(12px);

 
  .theme--dark & {
    background: $middle-dark;
  }

  &__img-avatar {
    display: block;
    width: rem(85px);
    height: rem(85px);
    margin: auto;
    border-radius: 50%;

    &--user {
      width: rem(60px);
      height: rem(60px);
      border-radius: 50%;
    }
  }

  &__box-description {
    margin: 0 1rem 0 1rem ;
  }

  &__user-list {
    margin: 1rem;
  }
}

.modal-detail {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: rem(8px) 0 rem(16px) 0;
  border: 2px solid rgba(0,0,0,0.05);
  border-radius: 0.625rem;
  box-shadow: 0 3px 5px rgba(0,0,0,0.25);

   .theme--dark & {
    background: $super-dark;
    box-shadow: 0 3px 5px rgba(255,255,255,0.25);
    color: $color-white;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__img-name {
    display: flex;
  }

  &__name-account {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &--author {
    color: $color-text;
    background: rgba(128, 128, 128, 0.5);
    background: $color-neutral;

     .theme--dark & {
    background: $ultramega-dark;

  }

    
  }

  &__img {
    width: rem(50px);
    height: rem(50px);
    margin: rem(8px);
    border-radius: 50%;

    object-fit: cover;
  }
  &__name {
    margin: rem(5px);
  }
  &__account {
    margin: rem(5px);
  }
  &__button {
    margin: rem(5px);
  }

  &__balance {
    text-align: end;
  }

  &__button-container {
    position: absolute;
    right: rem(20px);
    height: rem(30px);
  }

  &__button-confirmation {
    padding: 3px;
    color: $color-white;
  }
}

.container-group-detail {
  width: 90%;
  max-width: 90%;
  margin: rem(50px) auto  auto auto;
}

.container-group {
  padding: 0 rem(40px);
}

@media (max-width: 450px) {
  .form-title {
    width: 60%;
  }
  .form-check-label {
    font-size: 0.7rem;
  }

  .modal-chart {
    margin: 0.8rem 0.8rem 0.8rem;
  }

  .modal-dialog {
    max-width: 95%;
  }
  .modal {
    left: 0;
  }
  .modal-detail {
    &__img {
      width: rem(40px);
      height: rem(40px);
      margin: rem(6px);
      border-radius: 50%;
    }

    &__name,
    &__account {
      margin: rem(3px);
      font-size: rem(12px);
    }

    &__balance {
      font-size: 0.8rem;
    }
  }

  .card-group {

    &__img-avatar {
      width: 3rem;
      height: 3rem;
    }

    &__title {
      font-weight: 500;
      font-size: rem(14px);
    }

    &__date {
      font-size: rem(12px);
    }

    &__date,
    &__balance {
      font-size: rem(12px);
    }
  }

  .card-detail {

    &__title,
    &__description,
    &__participants,
    &__pending {
      font-weight: 500;
      font-size: rem(14px);
    }

    &__date,
    &__balance,
    &__text {
      font-size: rem(12px);
    }

    &__img-avatar {
      display: block;
      width: rem(70px);
      height: rem(70px);
      margin: auto;
      border-radius: 50%;

      &--user {
        width: rem(50px);
        height: rem(50px);
        border-radius: 50%;
      }
    }

    &__box-description {
      margin: 0 0.8rem 0 0.8rem ;
    }

    &__user-list {
      margin: 0.8rem;
    }

  
  }

  .container-group {
    padding: 0 rem(20px);
  }
}

@media (max-width: 370px) {
  .modal-detail__button-confirmation {
    padding: 3px;
    font-size: rem(10px);
  }
}

.theme--dark .accordion-button{
  background: $ultramega-dark;
  color: $color-white;
}
