@import "./src/scss/_misc/mixins";
@import "./src/scss/_misc/variables";

.title-group {
    display: flex;
    justify-content: space-between;
    margin: rem(15px);
}

.mdc-card {
  margin: rem(10px);

  .mdc-card-wrapper {
    display: flex;

    .mdc-card-wrapper__logo {
      margin: rem(10px);
    }

    .mdc-card-wrapper__content {
      width: 80%;

      .mdc-card-wrapper__content__top {
        display: flex;
        justify-content: space-between; 
        margin: 5px;  
      }

      .mdc-card-wrapper__content__bottom {
        display: flex;
        margin: rem(20px) rem(5px) rem(5px) rem(5px);
        position: relative;

        .mdc-card-wrapper__content__bottom__text {
          margin-right: rem(10px);
        }

        .mdc-card-wrapper__content__bottom__image {
          border-radius: 50%;
          width: rem(25px);
          height: rem(25px);
        }

        .mdc-card-wrapper__content__bottom__balance {
          position: absolute;
          right: 0;
        }
      }
    }


  }
}



.position-add-button {
  z-index: 10;
  position: absolute;
  right: 15px;
  bottom: 15px; 
}