@import "./src/scss/_misc/mixins";
@import "./src/scss/_misc/variables";

.title-group {
    display: flex;
    justify-content: space-between;
    margin: rem(15px);
}

.mdc-card {
  margin: rem(10px);

  &__wrapper {
    display: flex;
  }
  &__logo {
    margin: rem(10px);
  }
  &__content {
    width: 80%;
  }
  &__content-top {
    display: flex;
    justify-content: space-between; 
    margin: 5px;  
  }
  &__content-bottom {
    display: flex;
    margin: rem(20px) rem(5px) rem(5px) rem(5px);
    position: relative;
  }
  &__image {
    border-radius: 50%;
    width: rem(50px);
    height: rem(50px);
    
    &--mini {
      border-radius: 50%;
      width: rem(25px);
      height: rem(25px);
    }
  }
  &__balance{

    &--positive {
      color: red;
    }
  }
}

.balance-negative-color{
  color: red;
}



.position-add-button {
  z-index: 10;
  position: absolute;
  right: 15px;
  bottom: 15px; 
}