@import "../../../scss/_misc/mixins";
@import "../../../scss/_misc/variables";

html {
  min-height: 100vh;
  font-size: 14px;

  @include tablets {
    font-size: 15px;
  }
  @include laptop {
    font-size: 16px;
  }
}

body {
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  background-color: $color-white;
}

.theme--dark {
  background: $middle-dark;
}

#app {
  width: 100%;
  height: 100%;
}
/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: rem(53px) 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);

  .theme--dark & {
    color: $color-white;
    background: $ultra-dark !important;
  }
}


.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333333;

  .theme--dark & {
    color: $color-white;
    background: $ultra-dark ;

    &:hover {
      background: $color-accent-1;
    }
  }
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: $primary-alternate;
}

.footer .nav-link.active {
  color: $primary-alternate;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.sidebar__header {
  margin-bottom: 1rem;
  padding-left: rem(18px);
}
.sidebar-avatar__image {
  width: rem(60px);
  height: rem(60px);
  overflow: hidden;
  border-radius: 50%;

  object-fit: cover;
}

/*
 * Navbar
 */

.navbar {
  background: $color-navbar;
}

.navbar-brand {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);

  svg {
    height: 2rem;
    margin-right: 2rem;

    fill: white;
  }
}

.navbar .navbar-toggler {
  top: 0.25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: 0.75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.nav-item {
  transition: 0.3s;
  &:hover {
    background: $color-accent-1;
  }
}



.nav-link {
  display: flex;
  align-items: center;

  & i {
    margin-right: 0.5rem;
  }

  &__text {
    margin-right: 0.5rem;
  }

  .footer & {
    color: inherit;
  }
}


.form-control-dark {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

// main
main.main {
  padding-top: 2rem;
}


.theme--dark .footer {
  color: $color-white;
  background: $ultra-dark !important;
}

footer.footer {
  height: 4rem;
  background: $color-navbar;

  p {
    margin: 0;
  }

  &--mobile {
    height: 3rem;
  }
}

.footer__title,
.footer__content,
.footer__school,
.footer__author-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__title p,
.footer__school p {
  margin-bottom: 0;
  //display: flex;
  //justify-content: center;
  //align-items: flex-end;
  //height: rem(20px);
  //@media screen and (max-width: 768px) {
  //  align-items: center;
  //  height: rem(18px);
  //}
}

.footer__main-icon {
  width: rem(20px);
  height: rem(20px);
  //@media screen and (max-width: 768px) {
  //  width: rem(18px);
  //  height: rem(18px);
  //}
}

.footer__title,
.footer__school {
  //align-items: center;
  //gap: rem(8px);
  @media screen and (max-width: 992px) {
    font-size: 1rem;
  }
  @media screen and (max-width: 768px) {
    font-size: 0.7rem;
  }
}

.footer__title svg {
  height: 2rem;
  margin-right: 1rem;

  fill: white;
}

.footer__content {
  //justify-content: space-between;
  width: 100%;
  height: 100%;


  .theme--dark & {
    color: $color-white;
    background: $ultra-dark;
  }
}

.footer__authors {
  display: flex;
  align-items: center;

  gap: rem(64px);
  @media screen and (max-width: 992px) {
    gap: rem(45px);
  }
  @media screen and (max-width: 768px) {
    gap: rem(28px);
  }
  @media screen and (max-width: 550px) {
    gap: rem(20px);
  }
}

.footer__author-link {
  justify-content: flex-start;
  font-size: rem(14.4px);
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  opacity: 0.7;

  gap: 0.3rem;
  &:hover {
    color: rgba(255, 255, 255, 1);
    opacity: 1;
  }

  @media screen and (max-width: 768px) {
    font-size: 0.7rem;
  }
}

.footer__github > svg {
  width: rem(15px);
  height: rem(15px);

  fill: rgba(255, 255, 255, 1);
  @media screen and (max-width: 768px) {
    width: rem(13px);
    height: rem(13px);
  }
}

.footer__course__link > svg {
  width: rem(50px);
  height: rem(30px);
  margin-left: 1rem;

  fill: rgba(255, 255, 255, 1);
  @media screen and (max-width: 768px) {
    width: rem(40px);
    height: rem(23px);
  }
}

.btn-primary-alternate {
  background: $primary-alternate;
  border-color: $primary-alternate;

  .btn-check:focus + &,
  &:hover,
  &:focus {
    color: $color-white;
    background: $primary-alternate-hover;
    border-color: $primary-alternate-hover;
  }

  &:disabled {
    background: lighten($primary-alternate, 3%);
    border-color: lighten($primary-alternate, 3%);
  }
}

.btn-outline-primary-alternate {
  color: $primary-alternate;
  border-color: $primary-alternate;

  &:hover {
    color: $color-white;
    background: $primary-alternate-hover;
    border-color: $primary-alternate-hover;
  }
}

.form-check-input:checked {
  background-color: $primary-alternate;
  border-color: $primary-alternate;
}
