// @import "./src/scss/_misc/mixins";
// @function rem($px) {
//   @return $px / 16px + 0rem;
// }

.translist-wrapper {
  display: flex;
  flex-direction: column;

  .translist-title {
    align-self: center;
    margin-top: rem(10px);
  }
  
  .translist-group {
    width:70%;
    max-width: rem(300px);
    align-self: center;
    margin-top: rem(10px);
  }

  .translist-list {
    width: 100%;
    margin-top: rem(10px);

    .translist-item {
      width: 100%;
      background-color: #F9DE51;
    }
  }

   

}
