@import "./src/scss/_misc/variables";
@import "./src/scss/_misc/mixins";

.block__groups {
  display: flex;
  justify-content:space-between;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(0,0,0,.05);
  align-items: center;
}

.translist__header {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  width: 100%;
}

.translist__header--main {
  position: sticky;
  padding: 0.5rem 1.5rem 0.5rem 2.3rem;
  background-color: rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
@include laptop {
    padding: 0.5rem 2rem 0.5rem 2.5rem;
  }

@include desktop {
    padding: 0.5rem 1rem 0.5rem 1.5rem;
  }
}

.trans-list__groups {
  width: 60%;
}

.trans-list__user-balance {
  font-size: rem(20px);
  width: 40%;
  line-height: 1rem; 
}

.trans-list__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1.5rem 0;
  overflow-y: auto;
  gap: 1rem;
  scrollbar-color: rgba(0, 0, 0, 0.05) rgb(170, 170, 170);
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: rgba(0, 0, 0, 0.05);
    opacity: 0.7;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(170, 170, 170);
  }

    @include desktop {
    width: 84%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;

  }
}

.trans-item {
  width: 85%;
  min-height: rem(120px);

  box-shadow: 0 3px 5px rgba(0,0,0,0.25);
  padding: 0.5rem;
  border: 2px solid rgba(0, 0, 0, 0.05);
  border-radius: rem(10px);
  transition: transform 0.1s ease-out;
  &:hover {
    cursor:pointer;
    transform: translateY(-2px);
  }
   @include desktop {
    margin:rem(5px);
    width:47%;
  }

  &__header {
    margin-bottom: rem(5px);
    width: 100%;
  }

  &__descr {
    width: 100%;
    font-size: rem(14px);

    @include phones {
          font-size: rem(16px);
        }
  }

  &__date {
    width: 20%;
  }

  &__day {
    font-size: rem(14px);

@include phones {
      font-size: rem(16px);
    }
  }

  &__time {
    font-size: rem(12px);

@include phones {
      font-size: rem(14px);
    }
  }

  &__users {
    width: 35%;

    @include phones {
       width: 45%;
    }
  
    .user {
      margin-left: -20px;
      display: none;
      &__avatar {

        width: rem(35px);
        height: rem(35px);
        border-radius: 50%;
        overflow:hidden;

@include phones {
          width: rem(45px);
          height: rem(45px);
        }

          @include desktop {
             width: rem(40px);
             height: rem(40px);
        }
      }

      &__avatar > img {
        width: 100%;
        height: 100%;

        object-fit: contain;
      }

      &__name {
        font-size: rem(12px);
        max-width: rem(100px);
        text-align: center;
        line-height: 0.8rem;
      }
    }

    .user:nth-child(1) {
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .user:nth-child(2), .user:nth-child(3)   {  
       display: flex;
    }  

    .add-numb {
      font-size: rem(20px);
    }
  }

  &__cost-state {
    width: 45%;

     @include phones {
       width: 35%;
    }
  }

   &__cost {
    font-size: rem(16px);
    line-height: 1rem;
    letter-spacing: 0.3px;

@include phones {
      font-size: rem(20px);
    }

     @include desktop {
      font-size: rem(16px);
   }
  }

  &__state-wrap {
    margin-top: rem(15px);
  }

  &__state {
     width: rem(130px);
     height: rem(20px);
     font-size: rem(12px);
     padding: 0 0 0 5px;

  }  
}

.details {

  &__time {
    margin-left: rem(10px);
  }

  &__icon-wrapper {
     width: rem(40px);
    height: rem(40px);
    margin-left: rem(10px);
    border: 1px solid gray;
    border-radius: 5px;
    &:hover {
      cursor: pointer;
    }

    & > img {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }
 
  &__members {
    margin-top: rem(10px);
  }

  &__memb-wrapper {
    margin-bottom: rem(5px);
    height: rem(70px);
    align-items: center;
  }

  &__member {
    width: rem(70px);
  }

  &__avatar {
    width: rem(35px);
    height: rem(35px);
    overflow: hidden;
    background-color: blue;
    border-radius: 50%;
    transition: transform 0.3s ease-out;

    @include phones {
      width: rem(40px);
      height: rem(40px);
    }
  }

  &__avatar > img {
    width: 100%;
    height: 100%;

    object-fit: contain;
  }

  &__name {
    max-width: rem(50px);
    font-size: rem(12px);
    line-height: 1rem;
    text-align: center;
  }

  &__member-cost {
    width: 18%;
  }

  &__member-comment {
    font-size: rem(12px);
    width: 30%;
     @include phones {
       font-size: rem(14px);
       width: 35%;
    }
  }

  &__member-state {
    font-size: rem(12px);
    width: 18%;

     @include phones {
       font-size: rem(14px);
       width: 15%;
    }
  }

  &__member-delete {
    width: rem(20px);
    height: rem(20px);
    padding: 0;

    & > i {
      font-size: rem(12px);
    }
  }

  &__add-memb {
    width: rem(150px);
    margin-left: 1rem;
    line-height: 1rem;
    margin-bottom: 0.5rem;
  }

  &__owner-name {
    margin-left: rem(5px);
  }

  &__comment {
    margin-left: rem(5px);
  }

  &__state-wrapper {
    margin-top: rem(10px);
    width: 35%;
  }

  &__check-wrapper {
    width: 100%;
    margin-bottom: rem(20px);
  }

  &__check-image {
    width: 100%;

    object-fit: contain;
  }
}
