@import "./src/scss/_misc/mixins";
@import "./src/scss/_misc/variables";


.app__title {
  text-align: center;
}

.app__subtitle {
  margin-bottom: 1rem;
  text-align: center;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: rem(600px);
  padding: 2rem 1rem;
  background: #ffffff;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
  0 6.7px 5.3px rgba(0, 0, 0, 0.028),
  0 12.5px 10px rgba(0, 0, 0, 0.035),
  0 22.3px 17.9px rgba(0, 0, 0, 0.042),
  0 41.8px 33.4px rgba(0, 0, 0, 0.05),
  0 100px 80px rgba(0, 0, 0, 0.07);
  transition: 0.2s;
}

.form__title {
  margin-bottom: 1rem;
  text-align: center;
}

.logo__wrapper {
  width: rem(100px);
  height: rem(100px);
  margin: rem(30px) auto 2rem;

  svg {
    width: 100%;
    height: 100%;
  }
}

.button__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}
.reg-icons__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.reg-icon {
  width: rem(40px);
  height: rem(40px);
  margin: 0 rem(50px);
  border: 1px solid black;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    box-shadow: 0 0 2px black;
  }
}
.reg-icon__google {
  background-image: url("../../../assets/icons/google-logo.svg.png");
  background-size: contain;
}


.email,
.password,
.name {
  display: flex;
  width: 300px;
  margin: 20px auto;
}

.error-message {
  color: red;
  margin: 0;
  padding: 0;
}
