@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

@import "/_misc/variables";
@import "/_misc/mixins";
@import "/_misc/fonts";

@import "../js/Pages/newTransaction/newTransaction";
