$color-text: #000000;
$color-bg: rgba(252, 237, 159, 0.3);
$color-bg-light: #ffffff;
$color-accent-1: #f9de51;
$color-accent-2: #bbab5c;
$color-accent-3: #a28c1a;
$color-accent-4: #fce77d;
$color-accent-5: #fced9f;
$color-dark-accent-1: #5f44ab;
$color-dark-accent-2: #564780;
$color-dark-accent-3: #2e166f;
$color-dark-accent-4: #8e75d5;
$color-dark-accent-5: #a18fd5;
$color-dark-accent-6: #dbc4ff;

.trans-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: rem(600px);
  margin-right: auto;
  margin-left: auto;

  .trans-title {
    align-self: center;
    font-size: rem(20px);
  }

  .trans-group-wrapper {
    display: flex;
    align-items: center;
    margin-top: rem(15px);

    .trans-group {
      position: relative;
      flex-grow: 1;
      margin-left: rem(5px);

      .trans-group-current {
        width: 100%;
        height: rem(30px);
        padding-left: rem(5px);
        border: none;
        &:hover {
          cursor: pointer;
        }
      }

      .trans-group-list {
        position: absolute;
        top: 100%;
        width: 100%;

        .group-item {
          display: flex;
          align-items: center;
          width: 100%;
          height: rem(30px);
          padding-left: rem(5px);
          background-color: $color-bg-light;
          &:hover {
            background-color: $color-accent-5;
            cursor: pointer;
          }
        }
      }
    }
  }

  .trans-descr {
    min-height: rem(80px);
    margin-top: rem(10px);
    padding-left: rem(5px);
    border: none;
  }

  .trans-sum-wrapper {
    display: flex;
    margin-top: rem(10px);

    .trans-sum {
      height: rem(30px);
      padding-left: rem(5px);
      border: none;
    }

    .currency-wrapper {
      position: relative;
      width: rem(50px);
      margin-left: rem(10px);


      .trans-currency {
        width: 100%;
        height: rem(30px);
        text-align: center;
        border: none;
        &:hover {
          cursor: pointer;
        }
      }

      .currency-list {
        position: absolute;
        top: 100%;
        z-index: 3;
        width: 100%;

        .currency-item {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: rem(30px);
          // padding-left: rem(5px);
          background-color: $color-bg-light;
          &:hover {
            background-color: $color-accent-5;
            cursor: pointer;
          }
        }
      }
    }
  }

  .check-wrapper {
    width: rem(150px);
    margin-top: rem(10px);
    margin-bottom: rem(10px);
    // display: flex;
    border: 1px dashed $color-dark-accent-4;
    border-radius: 5px;

    .add-check {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: rem(5px);
      transition: background-color 0.3s ease-out;
      &:hover {
        background-color: $color-dark-accent-6;
        cursor: pointer;
      }

      .add-check-text {
        font-size: rem(14px);
      }

      .input-file {
        width: 0;
        outline: 0;
        opacity: 0;
        user-select: none;
        pointer-events: none;
      }
    }
  }

  .all-members-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    // padding-bottom: 10px;
    border-top: 1px dashed $color-dark-accent-2;
    border-bottom: 1px dashed $color-dark-accent-2;

    .all-members {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-top: rem(5px);
      padding-bottom: rem(5px);

      .all-members-user {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: rem(5px);
        margin-left: rem(5px);
        transition: transform 0.3s ease-out;
        &:hover {
          transform: scale(1.05);
          cursor: pointer;
        }

        .user-avatar {
          width: rem(50px);
          height: rem(50px);
          background-color: $color-dark-accent-4;
          border-radius: 50%;
        }

        .user-name {
          font-size: rem(14px);
        }

        .user-checked {
          border: 3px solid $color-dark-accent-3;
        }
      }
    }

    .all-btn {
      align-self: center;
      font-size: rem(14px);
    }
  }

  .checked-members {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: rem(300px);
    padding-top: rem(10px);
    padding-bottom: rem(10px);
    overflow-y: auto;

    .checked-member-wrapper {
      display: flex;
      align-items: center;
      margin-bottom: rem(5px);

      .member {
        display: flex;
        flex-direction: column;
        align-items: center;

        .user-avatar {
          width: rem(50px);
          height: rem(50px);
          background-color: $color-dark-accent-4;
          border-radius: 50%;
        }

        .user-name {
          font-size: rem(14px);
        }
      }

      .member-sum {
        width: rem(100px);
        height: rem(30px);
        margin-left: rem(20px);
        padding-left: rem(10px);
        border: none;
      }

      .member-comment {
        // min-width: rem(100px);
        // max-width: 70%;
        margin-left: rem(20px);
        font-size: rem(14px);
        border: none;
      }
    }
  }
}

.create-trans {
  position: fixed;
  bottom: 20px;
  // width: 100%;
  // max-width: rem(600px);
  left: 50%;
  transform: translateX(-50%);
}

.hidden {
  display: none;
}
